{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
        "jsx": true
    },
    "allowImportExportEverywhere": false,
    "codeFrame": false
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "max-len": [1, 120, 2, {"ignoreComments": true}],
    "semi": 2,
    "jsx-a11y/anchor-is-valid": [ "error", { "components": [ "Link" ], "specialLink": [ "to" ] } ],
    "react/forbid-prop-types": ["warn"]
  },
  "extends": "airbnb"
}
